name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0'
    
    - run: npm --prefix gatewayservice ci
    - run: npm --prefix webapp ci
    - run: dotnet build ./wikidata_service/WikidataService.csproj
    - run: npm --prefix authservice ci
    - run: npm --prefix userservice ci
    
    - run: npm --prefix gatewayservice test -- --coverage
    - run: npm --prefix webapp test -- --coverage
    - name: Analyze with SonarCloud
      uses: sonarsource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
